<div class="photo-card">
  <img class="picture" src={{webformatURL}} alt="" />

  <div class="stats">
    <p class="stats-item">
      <i class="material-icons">thumb_up</i>
      <span>{{likes}}</span>
    </p>
    <p class="stats-item">
      <i class="material-icons">visibility</i>
      <span>{{views}}</span>
    </p>
    <p class="stats-item">
      <i class="material-icons">comment</i>
      <spn>{{comments}}</span>
    </p>
    <p class="stats-item">
      <i class="material-icons">cloud_download</i>
      <span>{{downloads}}</span>
    </p>
  </div>
</div>